.feedback_page{
    background-image: url(./images/background2.png), url(./images/background1.png);
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 80%,100% 90%;
    display: flex;
    padding: 6% 8%;
}
.feedback_page .left{
    width: 40vw;
    padding: 0% 12% 0% 5%;
    justify-content: center;
    align-items: center;
}
.feedback_page .left h1{
    font-size: 3.2em;
    font-weight: 600;
    line-height: 1.3;
}
.feedback_page .left .imagE{
    margin-top: 40px;
    display: flex;
}
.feedback_page .left img{
    width: 350px;
    margin: auto;
}
.feedback_page .right{
    flex-grow: 1;
}
.feedback_page .right .input_box{
    background-color: rgba(239, 245, 251, 0.507);
    border-radius: 50px;
    padding: 8%;
}
.feedback_page .right .input_box h1{
    padding: 0px 0px 10px 20px;
}
.feedback_page .right .input_box .form input, .feedback_page .right .input_box .form textarea{
    margin: 20px 15px;
    height: 50px;
    width: 90%;
    border: none;
    padding-left: 25px;
    box-shadow: 2px 2px 4px rgb(146, 146, 146);
    border-radius: 25px;
}
.feedback_page .right .input_box .form input:focus, .feedback_page .right .input_box .form textarea:focus{
    outline: none;
}
.feedback_page .right .input_box .form textarea{
    height: 150px;
    padding-top: 15px;
    resize: none;
}
.feedback_page .right .input_box .form .bottom{
    margin-top: 20px;
    display: flex;
}
.feedback_page .right .input_box .form .bottom_msg{
    text-align: center;
    width: 70%;
    margin-right: 20px;
}
.feedback_page .right .input_box .form .bottom .animated_button{
    width: 120px;
    height: 48px;
    border-radius: 10px;
}
.feedback_page .right .input_box .form .bottom .animated_button button{
    width: 120px;
    height: 44px;
    border-radius: 15px;
    border-style: none;
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 1.4em;
    font-family:Arial, Helvetica, sans-serif;
    color: #257de3;
    position: absolute;
    z-index: 2;
}
.feedback_page .right .input_box .form .bottom .animated_button .background{
    width: 120px;
    height: 44px;
    background-color: #257de3;
    border-radius: 16px;
    position:relative;
    transition: transform .1s ease-in-out;
    z-index: 1;
}
.feedback_page .right .input_box .form .bottom .animated_button:hover .background{
    transform: rotate(-3deg) scale(1.02) translate(3px, 0px);
}

@media (max-width: 1000px) {
    .feedback_page{
        display: block;
        padding: 6% 4%;
    }
    .feedback_page .left{
        width: auto;
        padding: 0%;
        display: flex;
    }
    .feedback_page .left h1{
        font-size: 2.8em;
    }
    .feedback_page .left img{
        width: 300px;
    }
    .feedback_page .right{
        margin-top: 50px;
    }
}

@media (max-width: 600px) {
    .feedback_page{
        padding: 12% 4%;
        background-size: 100% 50%,100% 55%;
    }
    .feedback_page .left h1{
        font-size: 1.7em;
    }
    .feedback_page .left img{
        width: 150px;
    }
    .feedback_page .left .imagE{
        margin-top: 0px;
    }
}