.container_analysis{
    display: flex;
    height: fit-content;
    flex-direction: column;
    width: auto;
    align-items: center;
    justify-content: center;
    margin-left: 171px;
    margin-right: 152px;  
    margin-bottom: 100px;
    padding: 0px;
}

.Analysis-Card{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 12px;
    height: 98%;
    width: auto;
    box-shadow: 0px 4px 20px 7px rgba(0, 0, 0, 0.04);
}

.heading_analysis{
    width: fit-content;
    font-style: normal;
    font-size: 35px;
    font-weight: 600;

    align-items: center;
    line-height: 52px;
    letter-spacing: 0.14em;

    border-bottom: 2.5px solid #000000;
    margin-bottom: 60px;
}

.pics_container{
    margin-right: 152px;
    margin-left: 171px;
    margin-top: 100px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    margin: 50px;
}

.pic_right{
    width: 30%;
    margin-left: -50px;
    bottom: 0;
    max-width: 480px;
    max-height: 317px;

    margin-top: 200px;
}
.pic_graph{
    width: 80%;
    bottom: 0;
    max-width: 1172px;
    max-height: 542px;

}

@media  screen and (max-width: 1275px){
    .container_analysis{
        margin-left: 50px;
        margin-right: 50px;;
    }
    .pic_graph{
      max-width: 812px;
      max-height: 442px;
  
  }
      .pics_container{
        width:100%;
        margin-right: 50px;
        margin-left: 50px;
      }
      .pic_graph{
        width: 100%;
      }
  }

@media  screen and (max-width: 915px){
    .pic_right {
        display: none;
      }
      .pics_container{
        width:100%;
        margin: 30px;
      }
      .pic_graph{
        max-width: 712px;
        max-height: 342px;
      }
      .heading_analysis{
        line-height: 40px;
      }
      .container_analysis{
        margin-left: 25px;
        margin-right: 25px; 
      }
  }

  @media  screen and (max-width: 616px){
    .container_analysis{
        margin-left: 20px;
        margin-right: 20px;
    }
    .heading_analysis{
        font-size: 25px;
    }
  }

  @media  screen and (max-width: 512px){
    .container_analysis{
        margin-left: 5px;
        margin-right: 5px;
    }
    .Analysis-Card{
      margin: 5px;
    }
  }