.textwrapper {
    display: flex;
    flex-direction: column;
    width:1570px;
    min-height: 500px;
    align-items: center;
    justify-content: center;
    margin-bottom: 145px;
    margin-left: 50px;
    margin-top: 145px;
    padding: 0px;
  }
  
  
  .about_card {
    margin: 12px;
    margin-left: 171px;
    margin-right: 171px;
    width: auto;
    /* height: 98%; */
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px 7px rgba(0, 0, 0, 0.04);
    border-radius: 60px;
    display: flex;
  
  }
  
  .text{
    font-style: normal;
    display: flex;
    align-items: center;
    text-align: left;
  }
  .heading {
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    letter-spacing: 0.14em;
    border-bottom: 1px solid #000000;
  }
  .para {
    font-size: 20px;
    line-height: 30px;
    margin-top: 79px;
  }
  
  .aboutimg {
    /* position: relative; */
    width: 687px;
    height: 363px;
  
    /* margin: 28px;
    padding-top: 73px;
    padding-bottom: 73px;
    padding-left: 0px;
    padding-right: 0px; */
  }
  
  .imgdiv{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media  screen and (max-width: 1600px) {
  
    .aboutimg {
      width: 587px;
      height: 263px;
    }
    .about_card{
      margin-left: 130px;
      margin-right: 130px;
    }
  }
  
  @media  screen and (max-width: 1421px) {
  
    .aboutimg {
      width: 487px;
      height: 250px;
    }
    .about_card{
      margin-left: 100px;
      margin-right: 100px;
    }
  }
  @media  screen and (max-width: 1275px) {
  
    .aboutimg {
      width: 387px;
      height: 200px;
    }
    
    .textwrapper{
      margin-right: 28px;
      margin: 25px;
    }
    .about_card{
      height: fit-content;
      margin: 10px;
      margin-bottom: 70px;
    }
    .para{
      margin-top: 35px;
      font-size: 15px;
    }
  }
  @media  screen and (max-width: 915px){
    .aboutimg {
      display: none;
    }
    .para{
      margin-top: 25px;
    }
  }
  @media  screen and (max-width: 336px){
    .heading{
      font-size: 20px;
    }
  }