/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    
   
} */
.for123 .container1{
    padding: 0%;
    margin: 0%;
    height: 100vh;
    width: 50vw;
}

.for123 .main img{
    
    height:70vh ;
    position: absolute;
    left: 8%;
    top: 13%;

}
.for123 .shape1 img{
    height: 15vh;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

@media only screen and (max-width: 1350px){
    .for123 .main img{
        height:60vh;
        left: 8%;
        top: 20%;
    }
    .for123 .shape1 img{
        height: 13vh;
    }
}

@media only screen and (max-width: 1150px){
    .for123 .main img{
        height:50vh;
        left: 8%;
        top: 24%;
    }
    .for123 .shape1 img{
        height: 12vh;
    }
}

@media only screen and (max-width: 1060px){
    .for123 .main img{
        height:40vh;
        left: 8%;
        top: 28%;
    }
    .for123 .shape1 img{
        height: 11vh;
    }
}

@media only screen and (max-width: 900px){
    .for123 .main img{
        height:35vh;
        left: 8%;
        top: 32%;
    }
    .for123 .shape1 img{
        height: 10vh;
    }
}

@media only screen and (max-width: 780px){
    
    .for123 .container1{
        display: none;
    }
}

